<article class="prose mx-auto">
  <h1>Installing the Ruby Agent</h1>
  <p class="lead">The New Relic Ruby agent auto-instruments your code so you can start monitoring applications. Here is a basic installation guide.</p>

  <h3>Create a New Relic account</h3>
  <p>If you haven't already, <a href="https://newrelic.com/signup" target="_blank">create a free New Relic account</a>. Or, <a href="https://one.newrelic.com/" target="_blank">sign in</a>.</p>

  <hr>

  <h3>Install the gem</h3>
  <p>The Ruby agent's gem is available from rubygems.org as `newrelic_rpm`. For applications using Bundler, add this gem to the Gemfile:</p>

  <pre><code>
  gem 'newrelic_rpm'
  </code></pre>

  <p><b>* Rails:</b> If you're using Rails 3 or higher, or Rails 2.3 in the <a href="https://bundler.io/v1.12/rails3.html" target="_blank">recommended configuration</a>, Rails will automatically call `Bundler.require` and cause newrelic_rpm to be required during startup of your application.</p>

  <hr>

  <h3>Install the configuration file</h3>
  <p>After installing the agent, you will need to install the newrelic.yml configuration file, and name your app. Generate a newrelic.yml file with:</p>
  <pre><code>
  newrelic install --license_key="YOUR_KEY" "My application"
  </code></pre>
  <p>You can find your New Relic License Key under Account -> API Keys.</p>
  
  <p>Our agent is configured the way many customers prefer, but you we also offer <a href="https://docs.newrelic.com/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration/" target="_blank">custom configuration</a> options.</p>

  <hr>

  <h3>That's it—you're done!</h3>
  <p>Your app should now be connected to your New Relic account. Generate some requests and you'll see data flowing shortly.</p>
  
  <p>For more information on installing the agent, <a href="https://docs.newrelic.com/docs/apm/agents/ruby-agent/installation/install-new-relic-ruby-agent/" target="_blank">click here</a>.</p>

  <hr>

  <h3>Now its your turn</h3>
  <p>We've set up a sample Rails application you can use to practice installing the Ruby agent. Follow <a href="https://github.com/hannahramadan/railsconf_rpm_install_demo" target="_blank">this link</a> to download our sample repo.</p>

  <hr>
  <%= link_to "Return to Demos", root_path %>

</article>
